// @import 'modules/colors';
// @import 'modules/normalize';

// @use 'modules/colors';
// @use 'modules/normalize';

@use 'modules/modules';
  
.nav {
    background-color: modules.$nav-background-color;
    box-shadow: 0 0 10px modules.$nav-shadow-color;
    display: flex;
    justify-content: center;

    &__container {
      display: flex;
      align-items: flex-start;
      flex-direction: row-reverse;
      width: 100%;

      @media screen and (min-width: 40em) {
          align-items: center;
      }
    }

    &__list {
      display: none;
      flex-direction: column;
      list-style: none;
      margin: 0 auto;
      padding: 0;
      width: 100%;

      @media screen and (min-width: 40em) {
          display: flex;
          flex-direction: row;
          width: auto;
      }
    }

    &__item {
      text-align: center;
    }

    &__link {
      color: modules.$link-color;
      display: block;
      line-height: 1rem;
      padding: 1rem;
      text-decoration: none;

      &:hover {
        background: modules.$link-hover-background-color;
      }
    }

    &__hamburger {
        &-checkbox {
          display: none;
    
          &:checked + .nav__list {
            display: flex;
          }
        }

        &-label {
          display: flex;
          align-items: center;
          cursor: pointer;
          height: 1.5rem;
          width: 1.5rem;
          padding: 0.75rem;
          flex-wrap: wrap;
    
          @media screen and (min-width: 40em) {
              display: none;
          }
        }

        &-line {
          background: modules.$link-color;
          display: block;
          height: 2px;
          width: 1.5rem;
        }
    }
}

